<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BEAR.Sunday Form Sample</title>
</head>

<body>
<h1>Form sample</h1>
<ul>
    <li><a href="/min">/min</a></li>
    <li><a href="/multi">/multi</a></li>
    <li><a href="/loop">/loop</a></li>
    <li><a href="/preview">/preview</a></li>
</ul>
</body>
</html>
