<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
{% if _code == 201 %}
    <h1>201</h1>
    <p>{{ message }} by {{ name }}</p>
{% elseif _code == 400 %}
    <h1>400</h1>
    {{ form|raw }}
{% else %}
    <h1>200</h1>
    {{ form|raw }}
{% endif %}
</body>
</html>
</html>