<!DOCTYPE html>
<html lang="en">
<head>
    <title>BEAR.Sunday Form Example</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="page-header">
            <h1>Form examples</h1>
        </div>
        <ul>
            <li><a href="/min">/min</a></li>
            <li><a href="/multi">/multi</a></li>
            <li><a href="/loop">/loop</a></li>
            <li><a href="/preview">/preview</a></li>
        </ul>
</body>
</html>
